<div class="page-header">
  <h4>메세지 <small id="room-name"></small></h4>
</div>

<div class="panel panel-default">
  <div id="messages" class="panel-body">
  </div>
  <div class="panel-footer">
    <div class="media">
      <div class="media-left">
        <img src="{{.UserData.avatar_url}}" class="img-thumb" width="32">
      </div>
      <div class="media-body">
        <form id="chatbox">
          <input type="text" class="form-control" id="message" placeholder="메세지를 입력하세요">      
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function addMessage(message) {
  console.log(message);
  var img = $("<div>").addClass("media-left").append($("<img>").addClass("img-thumb").css({width:30}).attr("src", message.AvatarURL));
  var msg = $("<div>").addClass("media-body").append($("<strong>").text(message.Name + ": "),$("<span>").text(message.Content));
  
  $("#messages ul#" + message.RoomId).append(
    $("<div>").addClass("media").append(img, msg)    
    );  
}
function createMessageBox(room) {
  $("#messages").append(
    $("<ul>").addClass("list-unstyled").attr("id", room.Id)
                .addClass("message hidden"));
}
function deactivateRoom(room) {
  $("#messages ul#" + room.Id).addClass("hidden");
  $("#chatbox").prop('disabled', true);
}
function activateRoom(room) {
  $("small#room-name").text(room.Name);
  $("#messages ul#" + room.Id).removeClass("hidden");

  for (var i = 0; i < myRooms.length; i++) {
    if(myRooms[i].Id == room.Id) {
      $("#chatbox").prop('disabled', false);
      return;
    }
  };
}
function joinRoom (room) {
  socket.send(JSON.stringify({
              "MessageType": 1,
              "RoomId": room.Id,
              "Content": "enter"
            }));
  myRooms.push(room);
}
$(function(){
  var msgBox = $("#chatbox input#message");
  $("#join-btn").click(function(e){
    e.preventDefault();
    joinRoom(currentRoom);
    activateRoom(currentRoom);
    return false;
  });
  $("#cancel-btn").click(function(e){
    e.preventDefault();
    deactivateRoom(currentRoom);
    return false;
  })
  $("#chatbox").submit(function(){
    if (!msgBox.val()) return false;
    if (!socket) {
      console.log("Error: There is no socket connection.");
      return false;
    }
    socket.send(JSON.stringify({
        "MessageType": 0,
        "RoomId": currentRoom.Id,
        "Content": msgBox.val()
      }));
    msgBox.val("");
    return false;
  });
});
</script>
