<html>
  <head>
    <title>Simple Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
      .hidden { display: none; }
      ul#messages        { list-style: none; }
      ul#messages li     { margin-bottom: 2px; }
      ul#messages li img { margin-right: 10px; }
      input { display: block; }
      ul    { list-style: none; }
    </style>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          {{template "rooms.html" .}}
        </div>
        <div class="col-xs-8">
          {{template "message.html" .}}
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var socket = null;
      $(function(){
        if (!window["WebSocket"]) {
            console.log("Error: Your browser does not support web sockets.")
          } else {
            socket = new WebSocket("ws://{{.Host}}/ws");
            socket.onclose = function() {
              console.log("Connection has been closed.");
            }
            socket.onmessage = function(e) {
              addMessage(JSON.parse(e.data));
            }
          }
      });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>